@charset "UTF-8";

body {
  font-family: "Dosis", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  height: 600px;
  width: inherit;
  border: 2px solid white;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  box-sizing: border-box;
  align-items: center;
}

.card-text {
  overflow: hidden;
  word-wrap: break-word;
  vertical-align: top;
}

.card-title {
  color: yellowgreen;
}

.weatherSection {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
  font-size: 1.5rem;
  padding: 12px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  box-sizing: border-box;
}

.custom_button {
  appearance: none;
  z-index: 10;
  background-image: radial-gradient(100% 100% at 100% 0, #ffff00 0, #bbce3c 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 0; 
  right: 0; 
  margin-inline: auto;
  width: 30%;

}

.custom_button-var {
  color: white;
  top: 55%;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

.custom_button:disabled {
  box-shadow: none;
  color: rgb(235, 226, 226);
  background-image: radial-gradient(100% 100% at 100% 0, #8f9494 0, #babbbe 100%);
}

.rating {
  z-index: 11;
  margin: 50px auto;
  width: 400px;
  position: absolute;
  top: 54%;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
}

.rating > * {
  float: right;
}
@-webkit-keyframes pulse {
  50% {
    color: #e3e3e3;
    text-shadow: 0 0 15px #777777;
  }
}
@keyframes pulse {
  50% {
    color: #e3e3e3;
    text-shadow: 0 0 15px #777777;
  }
}

.rating label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.rating label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #cbcbcb;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  -webkit-animation: 1s pulse ease;
          animation: 1s pulse ease;
}
.rating label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
  display: none;
}
.rating input:checked + label:after,
.rating input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}

.rating label:nth-of-type(5):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.rating label:nth-of-type(4):after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.rating label:nth-of-type(3):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.rating label:nth-of-type(2):after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.rating label:nth-of-type(1):after {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}